.case-study__grid {
  display: grid;
  width: 100vw;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.case-study {
  max-width: 770px;
  padding: 10px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.case-study figure {
  align-self: center;
}

.case-study img {
  max-width: 100%;
  max-height: 500px;
}

.case-study__image-background {
  align-self: center;
  margin-top: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border: #b9c1cb solid 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.case-study .no-background {
  margin-top: 16px;
}

.case-study .small {
  max-height: 200px;
}

.case-study .big {
  width: 130%;
}

.case-study li {
  font-size: 21px;
  list-style-position: inside;
}

.case-study ul,
.case-study ol {
  margin-top: 29px;
}

.case-study code {
  /* wrap lines */
  white-space: pre-wrap;
}

.case-study figcaption {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

h2,
h3,
h4,
h5 {
  border-bottom: 1px solid #b9c1cb;
  margin-bottom: 8px;
}

h1 {
  font-size: 55px;
  margin-top: 56px;
  text-align: center;
}

h2 {
  font-size: 37px;
  margin-top: 50px;
}

h3 {
  font-size: 26px;
  margin-top: 30px;
}

h4 {
  font-size: 23px;
  margin-top: 30px;
}

h5 {
  font-size: 20px;
  margin-top: 18px;
}

p {
  font-size: 21px;
  margin-top: 29px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h2 + ol {
  margin-top: 8px;
}

@media screen and (max-width: 1700px) {
  .case-study__grid {
    grid-template-columns: 0.25fr 0.75fr;
  }
}

@media screen and (max-width: 1400px) {
  .case-study {
    max-width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .case-study__grid {
    grid-template-columns: 0.3fr 0.7fr;
  }
  .case-study {
    max-width: 650px;
  }
}

@media screen and (max-width: 900px) {
  .table-of-contents {
    display: none;
  }

  .case-study__grid {
    grid-template-columns: 0fr 1fr;
  }

  .case-study {
    max-width: 90vw;
  }
}

/* 0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop */
