@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --black: #0c0e21;
  --grey: #f0f0f2;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Varela Round', sans-serif;
}

img {
  max-width: 100%;
}

main {
  width: 740px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  font-size: 41px;
  padding-top: 16px;
}

h2 {
  font-size: 34px;
  margin-top: 56px;
}

h3 {
  font-size: 26px;
  margin-top: 30px;
}

h4 {
  font-size: 23px;
  margin-top: 30px;
}

p {
  font-size: 21px;
  margin-top: 29px;
}

main > li {
  font-size: 21px;
  margin-top: 29px;
  list-style-position: inside;
}

.nav {
  padding: 10px;
  height: 60px;
  background-color: var(--grey);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.nav__logo {
  width: 45px;
  height: 45px;
}

.nav__links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
