@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --black: #0c0e21;
  --grey: #f0f0f2;
  --white: #ffffff;
  --dark-blue: #2291fa;
  --purple: #4957f5;
  --green: #83D885;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.58;
  color: var(--black);
  background-color: var(--grey);
}

main {
  padding-bottom: 30px;
}

.nav {
  padding: 10px 30px;
  height: 80px;
  background-color: var(--black);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.nav__logo {
  height: 60px;
}

.nav__list a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
