.table-of-contents {
  position: fixed;
  top: 100px;
  left: 70px;

  width: 400px;
  padding: 20px;
  list-style-position: inside;

  max-height: calc(100vh - 40px);
  overflow: auto;
}

.table-of-contents__nested-list {
  margin-left: 20px;
}

.table-of-contents li {
  font-size: 16px;
}

.table-of-contents a {
  text-decoration: none;
  color: var(--black);
}

.table-of-contents li.active > a {
  font-weight: bold;
}

.table-of-contents a:hover {
  font-weight: bold;
}

.table-of-contents li > ul {
  display: none;
}

.table-of-contents li.active > ul {
  display: block;
}

h2, h3 {
  scroll-margin-top: 16px;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fadeout {
  animation: fadeOut 0.5s forwards;
}