.table-of-contents {
  position: fixed;
  top: 100px;
  left: 5vw;

  width: 500px;
  padding: 20px;
  list-style-position: inside;

  max-height: calc(100vh - 40px);
  overflow: auto;

  transition: 0.3s all ease-in-out;
}

.table-of-contents__nested-list {
  margin-left: 29px;
}

.table-of-contents li {
  font-size: 18px;
}

.table-of-contents a {
  text-decoration: none;
  color: var(--black);
}

.table-of-contents li.active > a {
  font-weight: bold;
}

.table-of-contents a:hover {
  font-weight: bold;
}

.table-of-contents li > ul {
  display: none;
}

.table-of-contents li.active > ul {
  display: block;
}

.table-of-contents ul.active {
  display: block;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

h2,
h3 {
  scroll-margin-top: 16px;
}

@media screen and (max-width: 1400px) {
  .table-of-contents {
    left: 3vw;
    width: 350px;
  }

  .table-of-contents li {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .table-of-contents {
    left: 1.5vw;
    width: 300px;
  }

  .table-of-contents li {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents--inline {
  display: block;
}

.table-of-contents--inline__nested-list {
  margin-left: 29px;
}

.table-of-contents--inline li {
  font-size: 18px;
}

.table-of-contents--inline a {
  text-decoration: none;
  color: var(--black);
}

.table-of-contents--inline li.active > a {
  font-weight: bold;
}

.table-of-contents--inline a:hover {
  font-weight: bold;
}

.table-of-contents--inline li > ul {
  margin-top: 0;
  display: none;
}

.table-of-contents--inline li.active > ul {
  display: block;
}

.table-of-contents--inline ul.active {
  display: block;
}

.show-tablet {
  display: none;
}

@media screen and (max-width: 900px) {
  .show-tablet {
    display: block;
  }
}
